/* 
    Created on : 2015-jun-21, 12:39:46
    Author     : pgrobban
*/

body {
    margin: 0 auto;
    font-size: 14px;
    line-height: 140%;
    margin: 1em auto;
}

@media screen and (min-width: 700px) {
    body { width: 700px; }
}

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    body { font-size: 130%; }
}

h2 {
    padding: 0.5em;
}

p, h3 {
    margin: 0.5em;
}

.author {
    font-style: italic;
    background-image: url("../img/Strawberry.png");
    background-size: 80px;
    background-position: right;
    background-repeat: no-repeat;
    padding: 1em;
    border: 1px solid #ddd;
}

@media screen and (max-width: 700px) {
    .author { 
        padding: 1em; 
        width: 100%;
        margin: 0;
    }
}


.panel-title {
    font-size: 1.2em;
    line-height: 160%;
}

table img {
    text-align: center;
}


td {
    padding: 0.3em;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
}


.treasureIconColumn {
    width: 100px;
}
.treasureColumn {
    width: 300px;
}
td select {
    width: 100%;
}

th {
    background-color: #eee;
}

tr {
    padding: 0.5em;
}

.panel-heading {
    color: white;
}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

#resultsTable {
    font-size: 1.2em;
    background: beige;
    margin: 1em 0;
}

.results {
    width: 100px;
}
